.hero-section {
  width: 100%;
  height: 100vh;
  background-image: url("./images/1.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.hero-section .text {
  /* border: 1px solid black; */
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.options {
  position: relative;
  top: -65px;
}

.box:hover {
  background-color: #ffc107;
  transition: 0.3s;
}

.book-now {
  height: 210px;
  background-image: url("./images/valeriia.jpg");
  background-size: cover;
  background-position: center;
}

.feature:hover {
  background-color: black;
  color: white;
  transition: 0.4s;
}

.feature > img:hover {
  opacity: 0.5;
  transition: 0.4s;
}

.food-img {
  background-image: url("./images/hotel-bg.jpg");
  background-position: center;
  background-size: cover;
}

.my-container {
  position: relative;
  width: 100%;
  height: 200px;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: 200px;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.my-container:hover .image {
  opacity: 0.3;
}

.my-container:hover .middle {
  opacity: 1;
}

.middle .text {
  /* background-color: #04aa6d; */
  background-color: rgb(212, 212, 11);
  color: white;
  font-size: 16px;
  padding: 10px 22px;
}
@media screen and (max-width: 500px) {
  .book-now {
    height: auto;
  }
}
